@import 'vuetify/src/styles/settings/_colors.scss'
@import 'vuetify/src/styles/settings/_elevations.scss'
@import 'vuetify/src/styles/tools/_elevation.sass'

.v-application
  background-color: #f1f1f1 !important

  &, .headline.headline
    font-family: Sora, 'Segoe UI', Helvetica, sans-serif !important

  .v-card__title.headline
    font-weight: bold
    color: map-get($purple, 'darken-2')
    // or color: var(--v-primary-base)

  .theme--light.v-card
    > .v-card__text,
    > .v-card__subtitle
      color: rgba(0,0,0, 0.8)

  .v-sheet.v-card:not(.v-sheet--outlined)
    @include elevation(6)

  .v-btn
    font-weight: 400
    text-transform: none
    letter-spacing: .04em
    padding: 0 20px !important