<template lang='pug'>
v-app
  v-navigation-drawer(v-model='drawer' fixed app)
    v-list
      v-list-item(v-for='(item, i) in items' :key='i' :to='item.to' router exact)
        v-list-item-action
          v-icon {{ item.icon }}
        v-list-item-content
          v-list-item-title(v-text='item.title').

  v-app-bar(app)
    v-app-bar-nav-icon(@click.stop='drawer = !drawer')
    v-toolbar-title(v-text='title')

  v-main
    v-container
      nuxt
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component({})
export default class DefaultLayout extends Vue {
  drawer = false;
  items = [
    {
      icon: 'mdi-apps',
      title: 'Welcome',
      to: '/',
    },
    {
      icon: 'mdi-chart-bubble',
      title: 'Inspire',
      to: '/inspire',
    },
  ];
  title = 'Boilerplate';
}
</script>
